.image-row {
	position: relative;
	width:100%;
	img {
		float:left;
		height:auto;
		margin:0;
		padding:0;
		&:last-of-type {
			margin-right:0;
		}
	}
	figcaption {
		text-align: center;
	}
}

.image-row-cols-1 {
	img {
		width:100%;
	}
}

.image-row-cols-2 {
	img {
		width:48%;
		margin-right:4%;
	}
}

.image-row-cols-3 {
	img {
		width:30.65%;
		margin-right:4%;
	}
}

.image-row-cols-4 {
	img {
		width:23.5%;
		margin-right:2%;
	}
}

.image-row-cols-5 {
	img {
		width:18.4%;
		margin-right:2%;
	}
}

.clear {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear:both;
	}
}