.image-row {
  position: relative;
  width: 100%;
  margin-top: 1em;
}
.image-row .image-row-image {
  float: left;
  padding: 0;
  margin: 0;
}
.image-row .image-row-image:last-child {
  margin-right: 0;
}
.image-row img {
  width: 100%;
  height: auto;
}
.image-row-cols-1 .image-row-image {
  width: 100%;
}
.image-row-cols-2 .image-row-image {
  width: 49%;
  margin-right: 2%;
}
.image-row-cols-3 .image-row-image {
  width: 32%;
  margin-right: 2%;
}
.image-row-cols-4 .image-row-image {
  width: 23.5%;
  margin-right: 2%;
}
.image-row-cols-5 .image-row-image {
  width: 18.4%;
  margin-right: 2%;
}
.clear {
  clear: both;
}
